name: Build and publish

on:
  push:
    branches: [main]

env:
  REGISTRY_IMAGE: ghcr.io/igusdev/freecad-cli
  FREECAD_VERSION: 1.1rc2

jobs:
  build-native:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: native.dockerfile
          push: true
          build-args: |
            freecad_version=${{ env.FREECAD_VERSION }}
          tags: |
            ${{ env.REGISTRY_IMAGE }}:${{ env.FREECAD_VERSION }}

  build-appimage:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

          image_name=${{ env.REGISTRY_IMAGE }}
          echo "IMAGE_NAME=${image_name//ghcr.io\/igusdev\///}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        id: build
        with:
          context: .
          file: appimage.dockerfile
          push: true
          platforms: ${{ matrix.platform }}
          cache-from: type=gha,scope=${{ env.IMAGE_NAME}}-appimage-${{ github.ref_name }}-${{ matrix.platform }}
          cache-to: type=gha,scope=${{ env.IMAGE_NAME }}-appimage-${{ github.ref_name }}-${{ matrix.platform }},mode=max
          outputs: type=image,name=${{ env.IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true
          tags: ${{  env.REGISTRY_IMAGE }}
          build-args: |
            freecad_version=${{ env.FREECAD_VERSION }}

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v6
        with:
          name: digests-appimage-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-appimage:
    runs-on: ubuntu-latest
    needs:
      - build-appimage
    steps:
      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-appimage-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *) \
            -t ${{ env.REGISTRY_IMAGE }}:appimage-${{ env.FREECAD_VERSION }}

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:appimage-${{ env.FREECAD_VERSION }}
